
<div class="flexing background-radial-gradient">

  <app-functions></app-functions>

  <div class="megaContainer">

    <div class="text">
      <div class="mb-5" style="z-index: 10 ">
        <h1 class="mb-5 display-5 fw-bold ls-tight" style="color: #1a4c48">
          Bharat National Bank <br />
          <span style="color: #0A4D68">-Get the YourATM habit</span>
        </h1>
        <p class="mt-4 opacity-70" style="color: #2a4641">
          History is the story of events, with praise or blame.
          History is the study of all the world’s crime
          History is who we are and why we are the way we are.
        </p>
      </div>
    </div>
    <div class="container">
      <form>

        <h2 style="text-align: center;">Transaction History!!</h2>
        <!-- <div class="form-outline mb-4">

          <input type="number" [(ngModel)]="this.accNo" [ngModelOptions]="{standalone: true}" class="form-control" />
          <label class="form-label" for="form3Example3">Account Number</label>
        </div> -->

        <button type="submit" (click)="openTransaction()" style="background-color: #1a4c48; color: white; border-radius: 25px; font-weight: bold; padding: 12px 45px; margin-left: 220px; ">
          Click
        </button>



      </form>
    </div>
  </div>

<!-- <router-outlet></router-outlet> -->
